<a href="https://colab.research.google.com/github/prachiss13/DLrepo/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import plot_model
from numpy import loadtxt
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Tetuan City power consumption.csv')
data

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
...,...,...,...,...,...,...,...,...
52411,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [ ]:
data.head()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [ ]:
data.tail()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
52411,7.010,72.4,0.080,0.040,0.096,31160.45627,26857.31820,14780.31212
52412,6.947,72.6,0.082,0.051,0.093,30430.41825,26124.57809,14428.81152
52413,6.900,72.8,0.086,0.084,0.074,29590.87452,25277.69254,13806.48259
52414,6.758,73.0,0.080,0.066,0.089,28958.17490,24692.23688,13512.60504
52415,6.580,74.1,0.081,0.062,0.111,28349.80989,24055.23167,13345.49820

In [ ]:
data.shape

(52416, 8)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Temperature                52416 non-null  float64
 1   Humidity                   52416 non-null  float64
 2   Wind Speed                 52416 non-null  float64
 3   general diffuse flows      52416 non-null  float64
 4   diffuse flows              52416 non-null  float64
 5   Zone 1 Power Consumption   52416 non-null  float64
 6   Zone 2  Power Consumption  52416 non-null  float64
 7   Zone 3  Power Consumption  52416 non-null  float64
dtypes: float64(8)
memory usage: 3.2 MB

In [ ]:
data.describe()

,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360

In [ ]:
data.isnull().sum()

Temperature                  0
Humidity                     0
Wind Speed                   0
general diffuse flows        0
diffuse flows                0
Zone 1 Power Consumption     0
Zone 2  Power Consumption    0
Zone 3  Power Consumption    0
dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
ms = MinMaxScaler()

In [ ]:
  x = data.drop(columns = ["Zone 3  Power Consumption"])
  y = data[["Zone 3  Power Consumption"]]

In [ ]:
x = np.array(x)
y = np.array(y)
x = ms.fit_transform(x)
y = ms.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=11)

In [ ]:
model = Sequential()
model.add(Dense(50,input_dim = x_train.shape[1],activation = "elu"))
model.add(Dense(30,activation='elu'))
model.add(Dropout(0.2))
model.add(Dense(30,activation='elu'))
model.add(Dropout(0.2))
model.add(Dense(20,activation='elu'))
model.add(Dense(1,activation='elu'))

In [ ]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 50)                400

 dense_17 (Dense)            (None, 30)                1530

 dropout_6 (Dropout)         (None, 30)                0

 dense_18 (Dense)            (None, 30)                930

 dropout_7 (Dropout)         (None, 30)                0

 dense_19 (Dense)            (None, 20)                620

 dense_20 (Dense)            (None, 1)                 21

=================================================================
Total params: 3,501
Trainable params: 3,501
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss = "mse", optimizer = "SGD",metrics = ["mse"])

In [ ]:
model.fit(x_train, y_train,epochs=50, batch_size = 20, verbose = 1)

Epoch 1/50
2097/2097 [==============================] - 4s 2ms/step - loss: 0.0189 - mse: 0.0189
Epoch 2/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0125 - mse: 0.0125
Epoch 3/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0111 - mse: 0.0111
Epoch 4/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0104 - mse: 0.0104
Epoch 5/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0100 - mse: 0.0100
Epoch 6/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0097 - mse: 0.0097
Epoch 7/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0095 - mse: 0.0095
Epoch 8/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0092 - mse: 0.0092
Epoch 9/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0090 - mse: 0.0090
Epoch 10/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0089 - mse: 0.0089
Epoch 11/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0088 - mse: 0.0088
Epoch 12/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0086 - mse: 0.0086
Epoch 13/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0085 - mse: 0.0085
Epoch 14/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0084 - mse: 0.0084
Epoch 15/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0083 - mse: 0.0083
Epoch 16/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0082 - mse: 0.0082
Epoch 17/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0081 - mse: 0.0081
Epoch 18/50
2097/2097 [==============================] - 5s 2ms/step - loss: 0.0080 - mse: 0.0080
Epoch 19/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0079 - mse: 0.0079
Epoch 20/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0079 - mse: 0.0079
Epoch 21/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0077 - mse: 0.0077
Epoch 22/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0077 - mse: 0.0077
Epoch 23/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0076 - mse: 0.0076
Epoch 24/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0076 - mse: 0.0076
Epoch 25/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0074 - mse: 0.0074
Epoch 26/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0073 - mse: 0.0073
Epoch 27/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0073 - mse: 0.0073
Epoch 28/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0073 - mse: 0.0073
Epoch 29/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0072 - mse: 0.0072
Epoch 30/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0072 - mse: 0.0072
Epoch 31/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0071 - mse: 0.0071
Epoch 32/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0071 - mse: 0.0071
Epoch 33/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0071 - mse: 0.0071
Epoch 34/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0071 - mse: 0.0071
Epoch 35/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0070 - mse: 0.0070
Epoch 36/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0069 - mse: 0.0069
Epoch 37/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0070 - mse: 0.0070
Epoch 38/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0069 - mse: 0.0069
Epoch 39/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0068 - mse: 0.0068
Epoch 40/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0069 - mse: 0.0069
Epoch 41/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0068 - mse: 0.0068
Epoch 42/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0068 - mse: 0.0068
Epoch 43/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0068 - mse: 0.0068
Epoch 44/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0068 - mse: 0.0068
Epoch 45/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0068 - mse: 0.0068
Epoch 46/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0067 - mse: 0.0067
Epoch 47/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0067 - mse: 0.0067
Epoch 48/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0067 - mse: 0.0067
Epoch 49/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0067 - mse: 0.0067
Epoch 50/50
2097/2097 [==============================] - 3s 2ms/step - loss: 0.0067 - mse: 0.0067

In [ ]:
  pred = model.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
pred = np.squeeze(pred)
y_test = np.squeeze(np.array(y_test))
r2_score(y_test,pred)

0.7738422988070828